[Unit]
Description=Install Homebrew for user %i
After=network-online.target systemd-user-sessions.service
Wants=network-online.target

[Service]
Type=oneshot
User=%i
ExecStart=/usr/local/bin/install-homebrew.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
