[Unit]
Description=Install Homebrew for user %i
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/sbin/install-homebrew.sh %i
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
