[Unit]
Description=Run First Boot Setup Wizard
ConditionPathExists=%h/.config/firstboot/run

[Service]
ExecStart=/usr/libexec/firstboot-setup.sh
Type=oneshot

[Install]
WantedBy=default.target
