[Unit]
Description=Run First Boot Setup Wizard
After=xdg-desktop-autostart.target
Wants=xdg-desktop-autostart.target
ConditionPathExists=%h/.config/firstboot/run

[Service]
Type=simple
ExecStart=%h/.config/firstboot/wait-and-run.sh
PassEnvironment=DISPLAY WAYLAND_DISPLAY XDG_SESSION_TYPE


[Install]
WantedBy=xdg-desktop-autostart.target

