[Unit]
Description=Run First Boot Setup Wizard
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.config/firstboot/firstboot-setup.sh
Environment=WAYLAND_DISPLAY=wayland-0
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

[Install]
WantedBy=default.target
